*,
::after*,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.app {
  max-width: 98%;
  box-sizing: border-box;
  margin: 0 auto;
  font-size: 15px;
}
